<div class="top-wrapper">
    <h1>Oscar Niklasson</h1>
    <h2 class="pri-color mt10">Frontendutvecklare</h2>
  </div>
  
  <div class="about-container mt10">
    <ul class="about_text">
      <h2 class="tac pri-col">Om mig</h2>
      <li class="mt10">
        Jag är en Webbutvecklar student från Växjö skogarna som har stort spel och esport intresse.
      </li>
      <li>
        På fritiden sitter jag helst framför dator och spelar med mina vänner eller följer den senaste Dota2, Csgo, eller Starcraft2 tuneringar. 
        Jag omgås också väldigt mycket med familj plus hund.
      </li>
      <li>
        De senaste 5åren har jag jobbat inom lager och configuration av datorer skrivare och allt smått och gott där i mellan.
      </li>
      <h2 class="tac pri-col">Personlig info</h2>
      <li>
        <span class="personinfo">Födelsedatum: </span>1994 / 04 / 06
      </li>
      <li class=""><span class="personinfo">Nationalitet:</span> Sverige</li>
      <li class=""><span class="personinfo">Adress:</span> Småland, Växjö</li>
      <li class=""><span class="personinfo">Email: </span>Oscar_niklasson94@hotmail.com</li>
    </ul>
    <div class="main-wrapper_image">
      <img
        src="https://c.tenor.com/iQPGYAKMbOkAAAAC/infestor-carbot-animations.gif"
        class="headshot-image"/>
    </div>
  </div>